<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <meta name="keywords" content="Glover, Nintendo 64, speedrunning, practice hack, N64, patch, romhack">
        <meta name="robots" content="index,follow">
        <meta content="glover.run" property="og:site_name">
        <meta content="Glover Practice Hack" property="og:title">
        <meta name="description" content="Glove Practice Hack Patch tool." property="og:description">

        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>{{ page.title }}</title>
    </head>

    <body>
        <div id="app">
            <div class="sidebar">
                <header>
                    <a href=".">
                        <h1>
                            Glover.run
                        </h1>
                    </a>
                </header>
                <a href="/gloverpatch.html">Patch Tool</a>
                <a href="/wiki.html">Wiki</a>
                <a href="/contributing.html">How to contribute</a>
                <a href="{{site.data.env.githubUrl}}">Github</a>
                <a href="{{site.data.env.bugReportUrl}}">Report a bug</a>
                <a href="{{site.data.env.personalSite}}">Personal Homepage</a>
            </div>

            <div class="content">
                {{ content }}
            </div>

            <footer class="footer">
                <hr>
                <p>
                Contact <a href="{{site.data.env.mailToLink}}">{{site.data.env.contactEmail}}</a>
            </footer>
        </div>

        <script src="/node_modules/justlog.js/dist/justlog.main.min.js"></script>
        <script src="/patchrom.js"></script>
        <script src="/patcher.js"></script>
    </body>

</html>
